{% extends 'headerfooter.html' %}
{% block content %}


<div class="page-title-area ptb-100">
<div class="container">
<div class="page-title-content">
<h1>Our Services</h1>
<ul>
<li class="item"><a href="/">Home</a></li>
<li class="item"><a href="/our_services/"><i class="flaticon-play-button"></i>Our Services</a></li>
</ul>
</div>
</div>
<div class="bg-image">
<img src="/static/img/page-title/terms-bg.jpg" alt="Demo Image">
</div>
</div>


<div class="terms-area pt-100 pb-70">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-12">
<aside class="widget-area">
    <div class="content">
        <h2> Terms</h2>
        <p style="text-align: justify;">
        By accessing the website
         you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
        </p>
    </div>
    <div class="content">
        <h2> Limitations</h2>
        <p style="text-align: justify;">
         In no event shall Constik or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Constik's website, even if Constik or a Constik authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
        </p>
    </div>
    
</aside>
</div>
<div class="col-lg-8 col-md-12">
<div class="details-desc">
<div class="service-details-slider owl-carousel">
<div class="slider-item">
<img src="/static/img/service-slide-1.jpg" alt="Demo Image">
</div>
<div class="slider-item">
<img src="/static/img/service-slide-2.jpg" alt="Demo Image">
</div>
</div>




<div class="content">
<h2> Links</h2>
<p style="text-align: justify;">
Constik has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Constik of the site. Use of any such linked website is at the user's own risk.
</p>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}