{% extends 'admin/headerfooter.html' %}
{% block content %}


<div id="page-wrapper">
	<div class="main-page">
		<div class="tables">
			<h3 class="title1" style="text-align: center;"><b>Categories</b></h3>
			<div class="panel-body widget-shadow">

 			<table  class="table">
 				<thead>
 					<tr>
 						<th data-breakpoints="xs">ID</th>
 						<th>Catagory</th>
 						
 					</tr>
 				</thead>
 				<tbody>
 					{% for x in cat %}
 					<tr>
 		 				<td>{{forloop.counter}}</td>
 		 				<td>{{x.catagory}}</td>
 					</tr>
 					{% endfor %}
 				</tbody>
 			</table>
 		</div>
 	</div>
 </div>
</div>


{% endblock %}